:root {
  --primary: #ffa500;
  --primary-variant: #fff1d0;
  --secondary: #086788;
  --secondary-variant: #596869;
}

body {
  font-family: "'Oswald'", sans-serif;
  background: var(--primary);
}

/* Nav stuff */

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 10px;
  min-height: 72px;
  position: relative;
}

.main {
  /* list-style-type: none; */
  /* display: none; */
}

.link a {
  text-decoration: none;
  color: var(--secondary);
  border: 1px solid var(--secondary);
  margin: 20px;
  padding: 15px;
  align-items: center;
  filter: drop-shadow(6px 5px 4px var(--primary-variant));
}

.main li {
  text-align: center;
  margin: 15px auto;
}

.nav-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
}

/* hero and title area */

h1 {
  color: var(--primary-variant);
  font-weight: bold;
  z-index: 100;
  font-size: 3em;
  text-shadow: 3px 3px var(--secondary-variant);
}

.hero {
  position: relative;
}

#image {
  margin-top: 30px;
  margin-left: 15px;
  opacity: 0.4;
  border-radius: 100px 0 100px 0;
  text-align: center;
  filter: drop-shadow(0 0 0.75rem #086788);
  display: flex;
  justify-content: center;
}

h1,
footer h2 {
  display: flex;
  justify-content: space-around;
}

/* Main */

.selection {
  display: flex;
  justify-content: center;
  margin: 10px;
}

label {
  font-weight: bold;
  padding: 5px;
}

/* Footer */

footer {
  border-top: 2px solid var(--secondary);
}

footer h2 {
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  padding: 5px;
  /* display: flex;
  justify-content: space-around; */
  color: var(--primary-variant);
  text-shadow: 2px 2px var(--secondary-variant);
}

/* Age Verif Card Section */
.age-verif-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--secondary);
  width: 50vw;
  height: 80vh;
  background: #ffae03;
  /* opacity: 0.8; */
  position: absolute;
  box-shadow: 5px 5px 0 var(--secondary-variant), -5px -5px 0 var(--primary-variant);
  z-index: 2;
}

#flex-div {
  display: flex;
  justify-content: space-around;
}

/* Contact page formatting */

form,
form div {
  display: flex;
  flex-direction: column;
}

form {
  padding: 8px;
}

input,
textarea {
  border: solid thin black;
  max-width: 80vw;
}

form div {
  margin: 8px;
}

input[type="submit"],
input[type="search"],
#enter {
  background: var(--secondary);
  border-radius: 8px;
  display: inline-block;
  margin: 8px 0;
  min-height: 48px;
  max-width: 96px;
  text-align: center;
  color: var(--primary-variant);
}

input[type="search"] {
  margin-left: 1.5em;
  align-items: center;
}

#enter {
  padding: 10px;
  text-decoration: none;
}

/* List page CSS */

.grid {
  display: grid;
  grid-gap: 3px;
  grid-auto-rows: minmax(15px, auto);
  /* grid-template-rows: 15px; */
}

.grid div {
  padding: 5px;
  background-color: #f7b538;
}

@media screen and (min-width: 768px) {

  h1 {
    font-size: 4em;
  }

  div select {
    max-width: 40vw;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }

  .main {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main li {
    margin: 0;
  }

  .link {
    margin-left: 40px;
  }

  .nav-toggle {
    display: none;
  }

  .selection {
    display: flex;
    flex-direction: column;
    min-width: 100px;
  }

  .grid {
    display: grid;
    grid-gap: 3px;
    /* grid-template-rows: */
  }
}
